<ng-container>
  <mat-toolbar class="toolbar">
    <i
      matTooltip="Menu"
      class="menuIcon fa fa-bars"
      (click)="sidenav.toggle()"
    ></i>
    <span class="toolbar-spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container class="outSidenav">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <mat-nav-list class="sidenavMenu">

        <a
          mat-list-item
          href="#"
          routerLinkActive="active"
          [routerLink]="'/home'"
          ><i class="fa fa-home"></i>Página Inicial</a
        >

        <a
        mat-list-item
        href="#"
        routerLinkActive="active"
        [routerLink]="'/autor'"
      >
        <i class="fa fa-line-chart" aria-hidden="true"></i>Autor
      </a>

      <a
        mat-list-item
        href="#"
        routerLinkActive="active"
        [routerLink]="'/genero'"
      >
        <i class="fa fa-line-chart" aria-hidden="true"></i>Genero
      </a>

        <a
          mat-list-item
          href="#"
          routerLinkActive="active"
          [routerLink]="'/instituicao'"
          ><i class="fa fa-file-text-o"></i>Instituições de Ensino</a
        >
        <a
          mat-list-item
          href="#"
          routerLinkActive="active"
          [routerLink]="'/usuario'"
          ><i class="fa fa-file-text-o"></i>Usuário</a
        >
        <a
          mat-list-item
          href="#"
          routerLinkActive="active"
          [routerLink]="'/livro'"
        >
          <i class="fa fa-line-chart" aria-hidden="true"></i>Livro
        </a>
        <a
          mat-list-item
          href="#"
          routerLinkActive="active"
          [routerLink]="'/locacao-livro'"
          ><i class="fa fa-file-text-o"></i>Locação de Livros</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="bodyConteudo">
      <main class="main">
        <div class="container-fluid">
          <div class="main-content-panel">
            <router-outlet></router-outlet>
          </div>
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
